.section-contacto {
  height: 100vh;
  width: 100%;
  background-color: #000C1A;
  overflow-x: hidden;
}

.form-contacto {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-contacto .lalalala {
  background-color: aquamarine;
}

.info-contacto {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-box {
  width: 404px;
  height: 221px;
  background-image: linear-gradient(to right, #1A90FC, #33F7EB);
  border-radius: 20px;
  color: white;
}

.info-box h5 {
  margin-top: 14px;
  text-align: center;
}

.info-contacto-p {
  margin-left: 15px;
}

.info-box-data {
  margin-left: 15px;
  display: flex;
}

.button-container{
  padding-top: 20px;
  width: 300px;
  height: 50px;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .box-contacto {
    width: 385px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .box-contacto {
    width: 315px;
  }

  .info-box {
    width: 315px;
    height: 245px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .box-contacto {
    width: 315px;
  }

  .info-box {
    width: 315px;
    height: 245px;
  }
}

@media (min-width: 567px) and (max-width: 767px) {
  .form-contacto {
    height: auto;
  }

  .form-contacto h2 {
    margin-top: 50px;
  }

  .info-contacto {
    height: auto;
  }

  .section-contacto {
    height: 750px;
  }

  .box-contacto {
    width: 315px;
  }

  .info-box {
    margin-top: 50px;
    width: 315px;
    height: 245px;
  }
}

@media (max-width: 576px) {
  .form-contacto {
    height: auto;
  }

  .form-contacto h2 {
    margin-top: 50px;
  }

  .info-contacto {
    height: auto;
  }

  .section-contacto {
    height: 1000px;
  }

  .box-contacto {
    width: 315px;
  }

  .info-box {
    margin-top: 50px;
    width: 315px;
    height: 245px;
  }
}