footer {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #000C1A;
  border-top: 1px solid black;
  padding-bottom: 25px;
}

footer h2 {
  font-size: 20px;
  color: rgb(139, 139, 139);
}

.other-info {
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}