.skills-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #000C1A;
  background-image: url('../img/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  width: 100%;
}

.skills-tech-page {
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
  padding: 0 !important;
}

.skills-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-box h5 {
  color: white;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  width: 325px;
}

.skills-box-text {
  color: white;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  width: 230px;
}

.skills-tech-content-box {
  margin-bottom: 40px;
}

.skills-tech-page h4 {
  font-size: 24px;
  color: white;
  text-align: center;
  margin-bottom: 40px;
}

.skills-tech-content-library-box {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.skills-tech-content-library-box h5 {
  color: white;
  font-size: 18px;
  margin-top: 5px;
}

.skills-tech-box-library {
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  margin: 10px;
}

.skills-tech-box-library span {
  color: white;
}

.skills-other-tech-page {
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.skills-other-tech-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 350px;
}

.skills-other-tech-box h4 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  width: 250px;
}

.skills-other-content-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 400px;
}

.skills-other-content-box h4 {
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.skills-other-box-text {
  width: 250px;
}

.skills-other-box-text p {
  color: white;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
} 

.skills-other-box-text h5 {
  color: white;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.program-languages-known {
  margin: auto;
  width: 300px;
  display: flex;
  justify-content: space-around;
}

.known-lenguage-box {
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid gray;
  border-radius: 20px;
  padding-bottom: 5px;
}

.known-lenguage-box span {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}