* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 100vh;
  background-color: #000C1A;
  position: relative;
  overflow-x: hidden;
}

.presentation {
  display: flex;
  align-items: center;
  height: 100vh;
}

.header-box-1 {
  background-image: linear-gradient(to right, #1A90FC, #33F7EB);
  width: 120px;
  height: 50px;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.header-box-1 p {
  padding-top: 10px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.header-text-presentation h2 {
  font-size: 72px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.header-text-presentation h3 {
  font-size: 22px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.header-text-presentation h4 {
  font-size: 15px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.button-header {
  background-image: linear-gradient(to right, #1A90FC, #33F7EB);
  border: 0;
  width: 130px;
  height: 35px;
  border-radius: 20px;
}

.button-header a {
  text-decoration: none;
  color: white;
}

.button-header a:hover {
  color: whitesmoke;
}

header .image {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (min-width: 992px) {
  header .row {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .content-presentation {
    width: 100%;
  }

  .header-text-presentation {
    text-align: center;
    width: 100%;
  }

  .presentation .content-presentation {
    width: 100%;
  }

  .presentation {
    height: 100vh;
  }

  header {
    height: 100vh;
  }

  .header-box-1 {
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .content-presentation .header-box-2 {
    padding-top: 20px;
    width: 130px;
    margin: 0 auto;
  }
}

@media (min-width: 577px) and (max-width: 767px) {
  .content-presentation {
    width: 100%;
  }

  .header-text-presentation {
    text-align: center;
    width: 100%;
  }

  .header-text-presentation h2 {
    font-size: 42px;
  }

  .presentation .content-presentation {
    width: 100%;
  }

  .presentation {
    height: 100vh;
  }

  header {
    height: 100vh;
  }

  .header-box-1 {
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .content-presentation .header-box-2 {
    padding-top: 20px;
    width: 130px;
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  .header-text-presentation {
    text-align: center;
    width: 100%;
  }

  .header-text-presentation h2 {
    font-size: 42px;
  }

  .presentation .content-presentation {
    width: 100%;
  }

  .presentation {
    height: 600px;
  }

  header {
    height: 600px;
  }

  .header-box-1 {
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .content-presentation .header-box-2 {
    padding-top: 20px;
    width: 130px;
    margin: 0 auto;
  }
}